

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to right, #1a1a1a 30%, #ffffff 30%);
  margin: 0;
  padding: 0;
  overflow-x: hidden;

}


h1, h2, ul, li {
  margin: 0;
  padding: 0;
}